<div
  ng-if="agreed && index.hasProfile"
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Terms of Use';  goBackToState = 'about'; noColor = true">
</div>

<div class="content p20v" ng-class="{'disclaimer':!index.hasProfile}">
  <h1 class="text-center" ng-show="!index.hasProfile" translate>Terms of Use</h1>
  <div class="p20h">
    <p class="enable_text_select" translate>
       The software you are about to use functions as a free,  and multi-signature digital wallet. 
	  The software does not constitute an account where Avoncoin-devteam or other third parties serve as financial
	  intermediaries or custodians of your Avoncoins.  While the software has undergone beta testing and continue
	  s to be improved by feedback from the user and developer community, we cannot guarantee that there will be
	  no bugs in the software. You acknowledge that your use of this software is at your own discretion and in
	  compliance with all applicable laws. You are responsible for safekeeping your passwords, private key pairs, 
	  PINs and any other codes you use to access the software. 
	  IF YOU LOSE ACCESS TO YOUR AVONCOIN WALLET OR YOUR ENCRYPTED PRIVATE KEYS AND YOU HAVE NOT SEPARATELY STORED A BACKUP OF YOUR WALLET 
	  AND CORRESPONDING PASSWORD, YOU ACKNOWLEDGE AND AGREE THAT ANY Avoncoins YOU HAVE ASSOCIATED WITH THAT AVONCOIN WALLET WILL BECOME INACCESSIBLE.
	  All transaction requests are irreversible.  The authors of the software, employees and affiliates of Avoncoin-Project, 
	  copyright holders, and Avoncoin-Project cannot retrieve your private keys or passwords if you lose or forget them and cannot guarantee 
	  transaction confirmation as they do not have control over the Avoncoin network. To the fullest extent permitted by law, this software 
	  is provided “as is” and no representations or warranties can be made of any kind, express or implied, including but not limited to the warranties
	  of merchantability, fitness or a particular purpose and noninfringement. You assume any and all risks associated with the use of the software.
	  In no event shall the authors of the software, employees and affiliates of Avoncoin-Project, copyright holders,
	  Bitpay or Avoncoin-Project be held liable for any claim, damages or other liability, whether in an action of contract, tort, or otherwise,
	  arising from, out of or in connection with the software. We reserve the right to modify this disclaimer from time to time. </p>
    <button ng-show="!agreed" class="success round expand" ng-click="agree()" translate>
      I affirm that I have read, understood, and agree with these terms.
    </button>
    <button ng-show="agreed && !index.hasProfile" class="round" ng-click="agree()" translate>Go back</button>
  </div>
  <div class="extra-margin-bottom"></div>
</div>
