<div class="row columns p20">
  <div class="text-center">
    <img src="img/logo.svg" alt="Avoncoin" width="146" height="59">
    <div class="text-white" ng-include="'views/includes/version.html'"></div>
  </div>
  <h1 translate class="text-center">Add to homescreen</h1>
  <h3 class="text-center">
    Avoncoin is designed to run as a webapp from your homescreen.<br/><br/>
    Use the <img src="/img/ios/share-action.png" height="29" width="20"/> button below and <img src="/img/ios/add-to-home.png" height="67" width="53"/>.
  </h3>
</div>
