<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Avoncoin Wallet Service'; goBackToState = 'preferences'; noColor = true">
</div>



<div class="content preferences p20v" ng-controller="preferencesBwsUrlController as prefBwsUrl">
  <form name="settingsBwsUrlForm" ng-submit="prefBwsUrl.save()" class="columns">
    <label>Avoncoin Wallet Service URL</label>
    <input type="text" id="bwsurl" type="text" name="bwsurl" ng-model="prefBwsUrl.bwsurl">
    <input type="submit" class="button expand black round" value="{{'Save'|translate}}"
    ng-style="{'background-color':index.backgroundColor}">
  </form>
</div>
<div class="extra-margin-bottom"></div>
