<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='About Avoncoin'; goBackToState = 'preferences'">
</div>

<div class="content preferences p20v" ng-controller="preferencesAbout as about">
    <div class="text-center small-5 small-centered columns m20b" >
      <img src="img/logo.png" width="100%">
    </div>
    <h4 class="title m0" translate>Release Information</h4>

    <div  ng-controller="versionController as v">
      <ul class="no-bullet m0 size-14">
        <li class="line-b p20" ng-conf>
          <span translate>Version</span>
          <span class="right text-gray">
            v{{v.version}} 
          </span>      
        </li>
        <li class="line-b p20" ng-conf>
          <span translate>Commit hash</span>
          <span class="right text-gray">
            #{{v.commitHash}}
          </span>      
        </li>
      </ul>
    </div>
 
    <h4 class="title m0">&nbsp;</h4>
    <ul class="no-bullet m0 size-14">
      <li class="line-b p20" ng-click="$root.go('disclaimer')">
        <i class="icon-arrow-right3 size-24 right text-gray"></i>  
        <span translate>Terms of Use</span>
      </li>
      <li class="line-b p20" ng-conf ng-click="$root.go('logs')">
        <i class="icon-arrow-right3 size-24 right text-gray"></i>  
        <span translate>Session log</span>
      </li>
    </ul>

</div>
